@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@200;600&display=swap');


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: .9em;
    line-height: 1.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 1em; 
}

.logo {
    width: 140px;
    padding: 0.5em 10px 1em 1em;
}

.menu {
    width: 25px;
    margin: 10px 1em 1em 10px;
}


.hide-desktop {
    display: none;
}


nav ul {
    display: flex;
    gap: 3em;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

nav ul li:hover {
  transform: scale(1.1);

}

nav ul li:active {
  color: #e44141;

}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    padding-top: 0.25em;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.server{
    
    margin: 2em auto;
    transform: translateX(18%);
    width: 30%;
}

h1, .subhead {
    position: relative;
    z-index: 3;
}

h1 {
    font-size: 3em;
}

.subhead {
    font-size: 1.3em;
}

.blue-container {
    text-align: center;
    width: 100%;
    background: #00C2FF;
    color: #FFFFFF;
    margin-top: 10%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
}

.blue-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #00C2FF;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.blue-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #FFFFFF;
    top: -80px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}

.blue-container ul {
    transform: skewY(2deg);
    padding-top: 3em;
    display: flex;
    justify-content: center;
    gap: 4em;
    align-content: center;
}

.blue-container ul li {
    margin-bottom: 3em;
    font-size: 1.4em;
    max-width: 20%;
}

.blue-container img {
    width: 3em;
    
}

#third-img {
    width: 1.8em;
}

.gray-container {
    background: #f0f0f0;
    margin-top: -2%;
}

.gray-container ul {
    margin: 7em;
    display: flex;
    justify-content: space-around;
}

.review {
    font-size: 1.3em;
    max-width: 25em;
}

.username {
    font-size: 1.05em;
    color: #00C2FF;
    font-weight: 600;
}

.trail {
    margin-top: 5%;
    font-size: 1.5em;
    font-weight: 600;
}

.getstarted {
    text-decoration: none;
    background: #00CC88;
    color: white;
    border-radius: 25px;
    margin: 3% auto 7%;
    padding: .5em;
    display: block;
    width: 30%;
    font-size: 1.5em;
    /*
    position: relative;
    z-index: 4;
    */
}

.getstarted:hover {
    transform: scale(1.01);
}

.black-container {
    padding: 2em;
    background-color: #333636;
    border-top-right-radius: 40px;
    transform: skewY(2deg);
}

.black-container .container {
    transform: skewY(-2deg);
}

.black-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: #333636;
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -2;
}

.black-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    position: absolute;
    top: -80px;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.black-container ul li {
    display: inline-block;
    margin: 0 auto;
    font-size: .9em;
}

.black-container ul li a {
    color: #f0f0f0;
}

.address {
    color: white;
}

.whitelogo {
    width: 7em;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.scrollimg {
    padding-top: 10em;
    animation: bounce 2s infinite;
}

.black-container ul li a.clicked {
    color: rgb(194, 87, 194);
}

@media (min-width: 2560px) {
  body {
    max-width: 2560px;
    margin: 0 auto;
  }
}

@media (max-width: 1440px) {
    .blue-container ul {
        display: flex;
        justify-content: space-evenly;
    }
    .blue-container ul li {
        max-width: 30%;
        font-size: 1.4em;
    }
    .gray-container ul {
        margin: 7em;
        display: flex;
        gap: 5em;
        justify-content: space-around;
    }
    .footer-btn {
        font-size: 1.1em;
    }
    .whitelogo
    {
        width: 20%;
    }
}

@media (max-width: 900px) {
    h1 {
        font-size: 2.35em;
    }

    .subhead {
        font-size: 1.1em;
    }
    .server{
        width: 40%;
    }
    .blue-container ul {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .blue-container ul li {
        margin-bottom: 2em;
        font-size: 1.4em;
        max-width: 65%;
    }
    .gray-container ul {
        margin: 7em 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5em
    }
    .review {
        font-size: 1.2em;
        font-style: italic;
        max-width: 20em;
    }
    .footer-btn {
        font-size: 1.1em;
    }
    .whitelogo
    {
        width: 25%;
    }
}
@media (max-width: 576px) {
    header {
        display: flex;
        justify-content: space-between;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.03);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px ;
    }
    .logo {
        width: 140px;
        padding: 0.5em 1px 1em 2em;
        
    }

    .show-desktop {
        display: none;
    }

    .hide-desktop {
        display: contents;
    }

    .menu {
        padding-right: 1.5em;
    }

    .menu:hover {
        transform: scale(1.05);
    }
    .server{
        width: 50%;
    }


    h1 {
        font-size: 2.4em;
    }

    .subhead {
        font-size: 1em;
    }
    .scrollimg {
        display: none;
    }
    .blue-container {
        margin-top: 30%;
        transform: skewY(-4deg);
    }
    .blue-container ul {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        transform: skewY(4deg);
    }
    .blue-container ul li {
        margin-bottom: 2em;
        font-size: 1.4em;
        max-width: 85%;
    }
    .gray-container {
        margin-bottom: 2em;
    }
    .gray-container ul {
        margin: 7em 2em;
        display: flex;
        flex-direction: column;
        gap: 5em
    }
    .review {
        font-size: 1.2em;
        font-style: italic;
        max-width: 20em;
    }
    .getstarted {
        margin-top: 2em;
        font-size: 1.3em;
        width: 60%;
    }
    .black-container {
        margin-top: 5em;
        padding: 3em 0em;
        transform: skewY(5deg);
    }
    .black-container .container {
        transform: skewY(-5deg);
    }
    .trail {
        margin-top: 5%;
        font-size: 1.3em;
        font-weight: 600;
    }
    .footer-btn {
        font-size: 1em;
    }
    .whitelogo
    {
        width: 30%;
    }

    nav ul {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 77%;
        gap: 2em;
        background: rgba(223, 223, 223, 0.5);
        backdrop-filter: blur(10px);
        padding: 2em 2em 2em 2em;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
        padding: 1.5em 2em;
    }
    nav ul.active {
        display: flex;
    }

}

